<h1>Add New Role</h1>
<section id="page">
<form class="form" action="/coupons" method="post">
  <label for="coupon_code" class="label-name">Coupon Code</label>
  <label for="store" class="label-name">Store</label>
  <input type="text" id="coupon_code" name="coupon_code" maxlength="40" class="field field-name" />

  <input type="submit" value="Create New Coupon" class="button" />
</form>

<nav>
  <ol>
    <li><a href="/coupons/new">coupons Home</a></li>
    <li><a href="/coupons/show">View</a></li>
    <li><a href="/coupons/new">New</a></li>
    <li><a href="/coupons/edit">Edit</a></li>

  </ol>
</nav>
</section>
